*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid;
    /* box-shadow: 2px 2px 5px black; */
}
.nav-items{
    display: flex;
}
.nav-items > li{
    padding: 10px;
}
.nav-items > li:hover{
    background-color: silver;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.logo:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* Restaurant  */
.restaurant-list{
    display: flex;
}
.restaurant-card{
    border: 1px solid;
    width: 200px;
    padding: 10px;
    margin: 10px;
}
.restaurant-card > img{
    width: 100%;
}